@use './variables' as vars;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
