.cart-page {
  max-width: 700px;
  margin: $spacing-lg auto;
  padding: 0 $spacing-md;

  h1 {
    margin-bottom: $spacing-md;
    color: $color-primary;
    font-weight: $font-weight-bold;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-md;
      color: $color-text-primary; 
  }

  &__price {
    font-weight: $font-weight-medium;
    color: $color-primary;
  }

  &__total {
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    margin-bottom: $spacing-md;
    color: $color-primary-dark;
  }
}
